.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .genre-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    select {
      width: 200px;
      padding: 5px;
      font-size: 1.25rem;
      text-align: center;
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 5px;
    }

    button {
      width: 200px;
      padding: 5px 20px;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: $color-1;
      color: $black;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-2;
      }
    }
  }

  .filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .button-top {
      width: 100px;
      padding: 5px;
      font-size: 1.25rem;
      background-color: $green-dark;
      color: $black;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      &:hover {
        background-color: $green-light;
      }
    }

    .button-flop {
      width: 100px;
      padding: 5px;
      font-size: 1.25rem;
      background-color: $red-dark;
      color: $black;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:hover {
        background-color: $red-light;
      }
    }
  }

  .filter-icon {
    width: 12px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .tmdb-credit {
    font-size: 16px;
  }
}
